* {
    margin: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;

}

.App {
    margin-top: 20vh;
    text-align: center;
}

.balance {
    font-size: 3rem;
}

.btns {
    display: flex;
    justify-content: center;
}


button {
    margin: 10px 5px;
    cursor: pointer;
    padding: 10px 15px;
    border: 2px solid teal;
    background: teal;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.customers {
    font-size: 2rem;
    border: 1px solid #cecece;
    padding: 5px;
    margin-top: 5px;
}